<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h4>Please click the bellow lonk to reset your password</h4>
<%= "http://localhost:3000/api/reset_password/#{@user.uniq_id}" %>
</body>
</html>
